@font-face {
  font-family: myFirstFont;
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: myquoteFont;
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

.paymenttitle{
  font-family: myFirstFont;
  font-weight: 600 !important;
  color: #ffffff;
  text-shadow: #111111 3px 5px 2px;
}

.paymentchoicetitle{
  margin-top: 80px;
  font-family: myquoteFont;
  font-weight: 600 !important;
  font-size: 2.6rem;
  color: #202020;
}

.paymentplanpage {
  text-align: center;
  z-index: 2;
}

.paymentplan-header {
  margin-top: 7%;
  /* appearance */
  font-family: myFirstFont;
  font-size: 4em;
  color: #202020;
}



.firstpaybox {
  margin-left: 24%;
}

.secondpaybox {
  margin-left: 5%;
}

.paychoice-header {
  /* appearance */
  font-family: descFont;
  font-size: 2.7em;
  color: #f4f5f7;
  margin-top: 47px;
}

hr.new5 {
  border: 2px solid #f4f5f7;
  border-radius: 2px;
}

.workerimage {
  width: 600px;
  height: 400px;

  position: relative;
  z-index: 1;
  margin-top: 1vh;
}


.pay-content{
  margin: 8%;
  margin-top: 10vh;
}

.paymenttitle{
  margin-top: 20vh;
}

.choiceboxes{
  margin-top: 8vh;
}

.paychoice-box{
  /* margin: 1%; */
  height: 380px;
  background-color: rgb(245, 245, 245);
  background-color: #fff;

  border-radius: 4px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
  max-width: 400px;
  /* padding: 4rem 1rem 4rem 1rem; */
  min-width: 200px;


}



.mylist{
  margin-top: 20px;
  max-width: 400px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 780px) {
  .paychoice-box{
    margin-top: 25px;
  }
}
