.projects-frame {
  /* position */
  margin-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-right: 5vw;
}

.full-col {
  height: 100%;
}

.searchbar{
  margin-top: 5px;
}

.projects-page-header{
  margin-left: -1px;
}

.vertical-scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.vertical-scrollable > .row {
  position: relative;
}

.horizontal-scrollable {
  height: 500px;
  width: 100%;
  overflow-x: scroll;
}

.horizontal-scrollable > .row {
  position: relative;
}

.card-body{
  background-color: #f4f5f7;
}

.card-title{
  font-weight: 580;
}

.project-button{
  background-color: #723c70 !important;
  border-color: #3d113c !important;
}

.project-button:hover{
  background-color: #8a4f8a !important;
  border-color: #3d113c !important;
}

.nav-link{
  color: #723c70 !important;
}

.nav-link:hover{
  color: #9c4699 !important;
}

.nav-item > .active{
  color: #474747 !important;
}

.btn-outline-secondary:hover{
  background-color: #202020 !important;

}