/* Top Bar */
.TopBar {
  height: 4.40%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;

  
  /* appearance */
  background-color: #202020;
  box-shadow: rgba(71, 71, 71, 0.219) 0px 0px 0px;
  
}

.logo-icon{
  position: absolute;
  z-index: 100;
  height: 70px;
  width: 140px;
  
  /* min-width: 6%; */
  /* max-width: 7%; */
  
  /* margin-left: 70px; */
  margin-left: 3.64%;
}

/* Navigation Sidebar */

.SideNavBar{ /* whole navbar box */

  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;

  width: 16%;


  /* appearance */
  background-color: #f4f5f7;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 0px -18px inset; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.082) 0px 0px 2px 1px; */
  box-shadow: rgba(12, 12, 12, 0.048) inset 0 0 4px;
}

.NavBar {
  margin-top: 200px;
}


.navChoice { /* navigationbar choice clickbox */
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  /* margin-bottom: 7%; */
  border-radius: 3px;
  height:50px;

}

a.navChoice:link, a.navChoice:visited {
  background-color: #f4f5f7;
  
  /* display */
  padding: 12px;
  /* text-align: center; */
  text-decoration: none;
  display: block;
  
  text-indent: 12%;

  /* text appearance */
  /* font: Trebuchet MS, sans-serif ; */
  font-family: Segoe UI ;

  font-weight: 590;
  font-size: 1.1em;
  color: #575757;

  
}

a.navChoice:hover, a.navChoice:active {
  background-color: #723C70;
  color: #f4f5f7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
}



/* NavbarMenu icon adjustments */
.menu-icon {
  height: 20px;
  width: 20px;
  /* padding-right: 10px; */
  margin-right: 35px;
}

.home-icon {

  height: 25px;
  width: 25px;
  /* padding-right: 10px; */
  margin-right: 40px;
  margin-top: -6px;

}

.backlog-icon {
  height: 17px;
  width: 17px;
  /* padding-right: 10px; */
  margin-right: 45px;
  margin-left: 4px;
  margin-top: -1px;
}

.projects-icon {
  height: 21px;
  width: 21px;
  /* padding-right: 10px; */
  margin-right: 45px;
  margin-left: 3px;
  margin-top: -5px;
}

/* NavBarMenu hover option styles */
#OverviewHover, #BacklogHover, #ProjectsHover {
  display: none;
  background-color: #723C70;
  color: #f4f5f7;  

}


@media screen and (max-width: 1000px) {
  
  .SideNavBar{
    width: 28%;
  }

  .TopBar,
  .mainContent {
      width: 100%;
  }
}