.login-screen{
    margin-left: 20vw;
}

.login-form-box{
    width: 500px;
    height: 700px;
    background-color: #f4f5f7;
    /* display: block; */
    float: left;
    margin-left: 5%;
    margin-top: 7%;

}
.login-desc-box{
    width: 500px;
    height: 700px;
    background-color: #202020;

    /* display: block; */
    float: left;
    text-align: center;
    margin-top: 7%;
}


.desc-header{
   /* appearance */
    font-family: descFont;
    font-size: 2.7em;
    color: #f4f5f7;
    margin-top: 47px;   
}

.login-header{
    /* appearance */
    font-family: myFirstFont;
    font-size: 4em;
    color: #202020;
}

@font-face {
    font-family: myFirstFont;
    src:url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: descFont;
    src:url('./fonts/Teko-Bold.ttf') format('truetype');
}

.login-form-boxes{
    margin-top: 14%;
}

.login-button {
    margin-top: 10%;
     
    background-color: #723c70 !important;
    border: #723c70;

}

.login-button:hover {
    background-color: #883985 !important;
    
}

.signup-link:hover{
    color: #883985 !important;
}

.mycheckbox:focus{
    border-color: #b34caf !important;
}

.mycheckbox:checked {
    background-color: #5f1d5d !important;
    border-color: #b34caf !important;
}


.jete_logo-icon-login {
    height: 100px;
    width: 200px;
  
    /* min-width: 6%; */
    /* max-width: 7%; */
  
    /* margin-left: 70px; */
    /* margin-left: 30%; */
    margin-top: 10%;
}


.partners {
    height: 200px;
    width: 288px;
    margin-top: 100px;

}

/* responsiveness */
@media screen and (max-width: 1600px) {
    .login-form-box{
        
        display: block;
        
        margin-left: 0%;
        
    
    }
    .login-desc-box{
        display: block;
        
        margin-left: 0%;
    }
    

}
  