
@font-face {
    font-family: myFirstFont;
    src:url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}

/* greetings box */
.greetingsBorder { 
    /* size */
    width: 90%;
    /* height: 200px; */
    height: 10vw;


    /* position */
    margin-top: 3%;
    margin-left: 5%;
    background-color: #f4f5f7;


    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 3px, rgba(0, 0, 0, 0.171) 0px 1px 2px;
}



/* greetings text */
.greetings{
    /* appearance */
    font-family: myFirstFont;
    font-size: 4vw;
    color: #202020;

    position: absolute;
    z-index: 30;

    /* position */
    margin-left: 4%;
    margin-top: 1%;
}

.greetings-Photo {
    position: absolute;
    z-index: 31;

    /* size adjustments */
    width: 12vw;
    height: 12vw;

    /* position adjust */
    margin-left: 62%;
    margin-top: -25px;
}

#morning, #noon , #night{
    display: none;
}