
@font-face {
    font-family: myFirstFont;
    src:url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: myquoteFont;
    src:url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}





/* greetings box */
.greetingsBorder { 
    /* size */
    width: 90%;
    /* height: 200px; */
    height: 7vw;


    /* position */
    margin-top: 3%;
    margin-left: 5%;
    background-color: #f4f5f7;

    border: solid;
    border-color: #202020;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 3px, rgba(0, 0, 0, 0.171) 0px 1px 2px; 

    
}

.quotebox{
    /* size */
    width: 90%;
    /* height: 200px; */
    height: 2vw;


    /* position */
    margin-left: 5%;
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 3px, rgba(0, 0, 0, 0.171) 0px 1px 2px; 

}

.quote{
    font-family: myquoteFont;
    color: #f4f5f7;
    
    margin-left: 6%;
    font-size: 1.1em;
    padding-top: 5px;
}


/* greetings text */
.greetings{
    /* appearance */
    font-family: myFirstFont;
    font-size: 4vw;
    color: #202020;

    position: absolute;
    z-index: 30;

    /* position */
    margin-left: 4%;
    margin-top: 1%;
}

.greetings-Photo {
    position: absolute;
    z-index: 31;

    /* size adjustments */
    width: 10vw;
    height: 10vw;

    /* position adjust */
    margin-left: 62%;
    margin-top: -32px;
}

#morning, #noon , #night{
    display: none;
}